{% extends "base.html" %}
{% block content%}
<div class="ui segment">

<h3>About</h3>

    <div class="ui message">
  <div class="header">
    What is Morph-OME?
  </div>
  <p>It is an online editor to help generate RDF from Tabular data in an seamless manner focusing on the ease of use.</p>
</div>

        <div class="ui message">
  <div class="header">
    Can we host it on our servers?
  </div>
            <p>Yes, you can find the source code on GitHub <a href="https://github.com/oeg-upm/Morph-OME">here</a></p>
</div>

            <div class="ui message">
  <div class="header">
    Is the code available?
  </div>
            <p>Yes, you can find the source code on GitHub <a href="https://github.com/oeg-upm/Morph-OME">here</a></p>
</div>

</div>

{%endblock%}