<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OME</title>


    {%block head%}
    {%endblock%}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

</head>
<body>
<div class="ui segment">
    {%if current_user.is_authenticated%}
    <div>
    <img height="30px" style="vertical-align:middle" src="{{session['avatar']}}"> {{ current_user.username }} <br>
    </div> <br>
    <a href="/logout">Logout</a> <br>
    {%else%}
    <a href="/login"> <img style="vertical-align:middle" height="30px" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"> Login with GitHub </a>
    {%endif%}
    <div>
    <a href="/">OME</a> <br>
    </div>
    <a href="/">
        <img class="ui centered image" src="https://github.com/ahmad88me/OME/raw/master/logo.png"/></a>
</div>


{%block content%}
{%endblock%}
</body>
</html>