{% extends "base.html" %}
{%block head%}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
 var properties = ["aaa", "bbb", "ccc"];
  $( function() {
    var labels = [
        {{labels_txt|safe}}
    ];
    $( "#concept" ).autocomplete({
          source: labels,
          select: function( event, ui ) {
            console.log('item is chosen');
            //console.log($("#concept").val());
            console.log(ui.item.value);
            $.get( "get_properties?concept="+ui.item.value, function( data ) {
              //alert( "Load was performed." );
              console.log(data['properties']);
              properties = data['properties'];
              console.log(properties);
              $( ".property" ).autocomplete({
                source: properties
              });// auto complete
            });//get
           }// select function
    });//auto complete
} );

    </script>

{%endblock%}

{%block content%}
{%if warning_msg%}
<div class="ui warning message">
    <div class="header">
        Warning!
    </div>
    {{warning_msg}}
</div>
{%endif%}

{%if error_msg%}
<div class="ui error message">
    <div class="header">
        Error!
    </div>
</div>
{%endif%}

<br>

<form method="POST" action="generate_mapping" class="ui form" enctype=multipart/form-data>

    <!--<p>detected iterator: {{iterator}}</p>-->
    <!--<div class="field">-->
        <!--<label>Format</label>-->
        <!--<input type="text" name="format" value="csv"readonly>-->
    <!--</div>-->
    <input type="text" name="file_name" value="{{file_name}}">
    <input type="hidden" name="format" value="csv">
    <div class="ui-widget field">
        <label for="concept">Choose the concept of this file: </label>
        <input id="concept" name="entity_class"/>
    </div>
    <hr>
    <div class="field">
        <label for="entity_column">Entity Column (primary key)</label>

        <select class="ui dropdown" name="entity_column" id="entity_column">

            {%for header in headers%}
            <option value="{{header}}">{{header}}</option>
            {%endfor%}

        </select>
    </div>

    <table class="ui single line table ">
        <thead>
        <tr>
            <th scope="col">Header</th>
            <th scope="col">Schema</th>
        </tr>
        </thead>
        <tbody>

        {%for header in headers%}
        <tr>
            <td>{{header}}</td>
            <td><input type="text" name="form_val_{{loop.index}}" class="property"></td>
        </tr>
        <input type="hidden" name="form_key_{{loop.index}}" value="{{header}}"/>
        {%endfor%}
        </tbody>
    </table>
    <br>
    <button type="submit" class="fluid  ui secondary basic button">Generate Mappings</button>
</form>

{%endblock%}

