{% extends "base.html" %}
{%block content%}

<div class="ui segment">

<form class="ui form" action="editor" method=post enctype=multipart/form-data>
  <div class="field">
    <label>Enter the URL of your CSV file (max size is {{max_kb|int }} kb)</label>
    <input type="url" name="source" placeholder="http://your_csv_file_url">
  </div>
  <div class="field">
    <label>Upload your CSV file (max size is {{max_kb|int }} kb)</label>
    <input type="file" name="sourcefile"/>
  </div>
  <div class="field">

    <label for="ontologies">Choose one or more ontologies:</label>
         <div style="font-size: 10px;font-style: italic;">
  (These ontologies will be used for auto-complete)
</div>
    <select id="ontologies" name="ontologies" multiple>
      {%for o in ontologies%}
      <option value="{{o.id}}">{{o.name}}</option>
      {%endfor%}
    </select>
  </div>


     <div class="field">
    <label for="kgs">Choose a training set if you want to enable automatic prediction of classes and properties</label>
         <div style="font-size: 10px;font-style: italic;">
  You can choose None if you don't want to enable automatic prediction
</div>
        <select id="kgs" name="kg" >
           <option value="">None</option>

      {%for kg in kgs%}
      <option value="{{kg.id}}">{{kg.name}}</option>
      {%endfor%}
    </select>
  </div>

  <button class="ui button" type="submit">Open With Editor</button>
</form>

</div>


{%if UPLOAD_ONTOLOGY%}
<hr>
<div class="ui segment">
<form class="ui form" action="add_ontology" method=post enctype=multipart/form-data>
  <div class="field">
    <label>Upload a public ontology (xml or ttl)</label>
    <input type="file" name="sourcefile"/>
  </div>
    <div class="field">
    <label>Ontology name</label>
    <input type="text" name="name"/>
  </div>
  <button class="ui button" type="submit">Add</button>
</form>
</div>
{%endif%}


{%endblock%}

