{% extends "base.html" %}
{%block content%}

<div class="ui segment">

<form class="ui form" action="editor" method=post enctype=multipart/form-data>
  <div class="field">
    <label>Enter the URL of your CSV file</label>
    <input type="url" name="source" placeholder="http://your_csv_file_url">
  </div>
  <div class="field">
    <label>Upload your CSV file</label>
    <input type="file" name="sourcefile"/>
  </div>
  <div class="field">

    <label for="ontologies">Choose one or more ontologies:</label>
         <div style="font-size: 10px;font-style: italic;">
  (These ontologies will be used for auto-complete)
</div>
    <select id="ontologies" name="ontologies" multiple>
      {%for d in datasets%}
      <option value="{{d}}">{{d}}</option>
      {%endfor%}
    </select>
  </div>

  <button class="ui button" type="submit">Open With Editor</button>
</form>

</div>

{%endblock%}

