{% extends "base.html" %}
{% block content%}


<div class="ui segment">


{%if not ont_group_pairs%}
<p>
    You have no ontologies. You can upload your own.
</p><br>

    {%else%}
    <h3>
        Available ontologies:
</h3><br>

    {%endif%}

<div class="ui cards">
      {%for d in ont_group_pairs%}

<div class="card">
  <div class="content">
      <!--<div class="ui right floated">-->
      <!--<i class="trash alternate icon"></i>-->
      <!--</div>-->
       <form id="form-{{d.ontology_id}}" action="/delete-ontology" method="POST">
           <input type="hidden" name="ontology" value="{{d.ontology_id}}"/>
                     <!--<button class="times icon ui right floated"></button>-->
          <i class="times icon ui right floated" onclick='document.getElementById("form-{{d.ontology_id}}").submit()'></i>
       </form>
<!--<i class="times circle icon"></i>-->
<!--<i class="times circle outline icon"></i>-->
      <div class="header">
        {{d.ontology}}
      </div>
      {{d.group}}
  </div>
</div>

      {%endfor%}
</div>

    </div>


<hr>

<div class="ui segment">

    <h3> To upload an ontology: </h3>

<form class="ui form"  method=post enctype=multipart/form-data>
    <div class="field">
        <label>Group</label>
    <select name="group">
        {%for gr in groups%}
      <option value="{{gr.id}}">{{gr.name}}</option>
        {%endfor%}
    </select>
  </div>

  <div class="field">
    <label>Upload your Ontology (xml or ttl)</label>
    <input type="file" name="sourcefile"/>
  </div>
    <div class="field">
    <label>Ontology name</label>
    <input type="text" name="name"/>
  </div>
  <button class="ui button" type="submit">Add</button>
</form>

</div>


{%endblock%}